.header{
    background-image: url("http://localhost:3000/images/header.jpg");
}
h3{
    color:white;
    width: 50%;
}
/* Logo */
.header-wrapper img{
    width: 100px;
    height:5rem;
}
/* Khi chưa log-in */
/* Thanh search và sign-up, sign-in */
.header-wrapper{
    width:80%;
    height: auto;
    margin: auto;
    display: flex;
    position: relative;
    top:20px;
}
.header-wrapper-right{
    display: flex;
    position:absolute;
    right:0px;
    overflow: hidden;

}
/* search bar */
.search{
    margin-right:20px;
}
.header-wrapper-right input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}
.header-wrapper-right .search button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.header-wrapper-right  .search button:hover {
    background: #ccc;
}
/* 2 nút sign-in. sing-up */
.sign-in-up #sign-in{
    color: white;
    background-color: rgb(20, 89, 238);
    border:1px white solid;
    border-radius: 5px;
    width: 100px;
    height:32px;
    margin-right: 5px;
    cursor: pointer;
}
.sign-in-up #sign-in:hover{
    background-color: red;
}
.sign-in-up #sign-up{
    color: white;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    border:1px white solid;
    width: 100px;
    height:32px;
    cursor: pointer;
}
.sign-in-up #sign-up:hover{
    background-color: red;
}
.sign-in-up{
    margin-right: 15px;
}
/* Khi đã log-in */
#span1{
    color:white;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.514);
}
#span2{
    color:white;
    font-size: 20px;
    margin-right: 15px;
}
.user-name{
    display: flex;
    flex-direction: column;
    width: 210px;
}
.profile-wrapper{
    display: flex;
}
.profile-wrapper > img{
    margin-right:10px;
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.profile-wrapper > i{
    color:white;
    padding-left: 15px;
}
/*Dropdown menu */
.profile-wrapper .dropdown-content{
    list-style-type: none;
    background-color: white;
    margin-top: 5px;
    margin-right: -30px;
    display: none;
}
.profile-wrapper ul li{
    margin-bottom: 10px;
    position: relative;
    right:15px;
}
.profile-wrapper ul li:hover{
    color:rgb(255, 0, 55);
    cursor: pointer;
}
.profile-wrapper ul li i{
    color:black;
    margin-right: 5px;
}
.profile-wrapper ul li:nth-child(2) i{
    margin-right: 12px;
}
.profile-wrapper ul li:nth-child(3) i{
    margin-right: 10px;
}

