
.question div > i{
    font-size: 65px;
}
.question {
    display: flex;
    margin-left:10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    margin-top: 3px;
}
.question .question-content h4{
    margin-top:15px;
    margin-bottom:15px;
    cursor: pointer;
}
.question .question-content h4:hover{
    color: blue;
}
.question .question-content {
    margin-left: 15px;
    width: 100%;
}
.question .question-content > span {
    color: blue;
    margin-right: 15px;
}
.question .question-content > div{
    background-color: #EEE;
    padding: 10px;
    width:100%;
}
.question .question-content > div > span {
    display: inline-block;
    border: #EEE 2px solid;
    background-color: white;
    width: 130px;
    height: 35px;
    text-align: center;
}
.question .question-content > div > span i{
    margin: 5px;
}
.question .question-content > div > span:nth-child(2){
    margin-left: 10px;
    width: 150px;
    height: 35px;
}
/* .question .question-content > div > span:nth-child(1){
    cursor: pointer;
} */
.question .question-content > div button{
    float: right;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    width: 100px;
    height: 35px;
    border: white 2px solid;
    margin-top: 5px;
}
.question .question-content > div button:hover{
    background-color: blue;
}
.question .question-content > div button a{
    color: white;
}
.question:nth-child(2){
    padding-top: 100px;
}
.question select{
    margin-left: 600px;
}
#number-question{
    background-color: rgba(255, 255, 255, 0.37);
    font-size: larger;
}
#home-icon{
    margin: 5px;
}
#leave-answer{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 20px;
    background-color: blue;
    color: white;
    font-size: larger;
    border:1px white solid;
}
#auto-height{
    height: 515px;
}
/* like button */
#like-button{
    font-size: 35px;
    color: blue;
}
#dislike-button{

    font-size: 35px;
    color: black;
}
.question-content div > i {
    cursor: pointer;
}
