.answer-card
{
    z-index: 0;
}
.answer-card .answer-header{
    padding: 5px 0px;
    vertical-align: middle;
    background-color: aliceblue;
    border-color: whitesmoke;
    border-width: 0px;
    border-bottom-width: 0.5px;
    border-style:solid;
}
.answer-card .answer-header .answer-header-content{
    padding-left: 20px;
    margin:auto;
    width: auto;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.answer-card .answer-header .answer-header-content > span{
    font-weight:bold;
}
.answer-card .answer-header .answer-header-button{
    float: right;
    width: 100px;
}
.answer-card .answer-header .answer-header-button > button{
    width: 30px;
    height:30px;
    margin:0px 5px;
    float:right;
    padding:0px;
}
.answer-card .answer-body{
    padding: 5px 10px;
}


/* Question */


.question-card .question-header{
    padding: 5px 0px;
    vertical-align: middle;
    background-color: aliceblue;
    border-color: whitesmoke;
    border-width: 0px;
    border-bottom-width: 0.5px;
    border-style:solid;
}
.question-card .question-header .question-header-content{
    padding-left: 20px;
    margin:auto;
    width: auto;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.question-card .question-header .question-header-content > span{
    font-weight:bold;
}
.question-card .question-header .question-header-button{
    float: right;
    width: 100px;
}

.question-card .question-header .question-header-button > button{
    width: 30px;
    height:30px;
    margin:0px 5px;
    float:right;
    padding:0px;
}

.question-card .question-body{
    padding: 5px 10px;
}